#board{
    display: grid;
    grid-row-gap: 10vh;
    padding-left: 20vw;
    transition: 2s;
    background-color: #2196F3;
    background-image: url("./assets/background3.png");
    background-size: cover;
    background-position: 200px 0px;
    background-repeat: no-repeat;
    width: 99vw;
    height: 92vh;
}
.cell{
    /* border: black 3px solid; */
    width: 20vw;
    height: 20vw;
}
.pirate{
    width: 100px;
    height: 160px;
    position: absolute;
    top: 15%;
    left: 25%;
    transition: 2s;
}
@media only screen and (max-width: 600px) {
    #board{
        padding-left: 0vw;
        background-position: 0px 0px;
    }
  }