#board{
    display: grid;
    grid-row-gap: 10vh;
    padding-left: 20vw;
    transition: 2s;
    background-color: #2196F3;
    background-image: url("./assets/background4.png");
    background-size: 2500px 1200px;
    background-position: 100px 0px;
    background-repeat: no-repeat;
    width: 99vw;
    height: 92vh;
}
.cell{
    width: 20vw;
    height: 20vw;
}
.pirate{
    width: 750px;
    height: 500px;
    position: absolute;
    top: 15%;
    left: 25%;
    transition: 2s;
}
@media only screen and (max-width: 900px) {
    #board{
        width: 107vw;
        height: 92vh;
        padding-left: 0vw;
        background-size: "2000px 800px";
        background-position: -300px -50px;
    }
  }